<div id="last-fm-login">
  <h4>
    <button class="btn btn-sm btn-default btn-last-fm" ng-click="showLastFmInput = !showLastFmInput;"><strong>Link <i class="fa fa-lastfm"></i></strong></button> your <strong>Last.fm</strong> profile in order to allow us gather what tracks you've listened.
  </h4>
  <div class="form-group lastfm-login-container" ng-show="showLastFmInput">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-lastfm"></i></div>
      <input type="text" class="form-control lastfm-username" id="username" placeholder="Enter your Last.fm username" ng-model="lastFmUsername">
      <button type="submit" class="btn btn-default lastfm-username" ng-click="fetchInfoFromLastFm(lastFmUsername);showLastFmInput = false;"><strong>Go</strong></button>
    </div>
  </div>
</div>
