<h3 class="text-center">{{ headerText }}</h3>
<h5 class="text-center info-footer"> <span ng-repeat="line in subheaderText"> {{ line }} <br ng-hide="$last" /></span><button class="btn btn-default btn-sm" ng-click="submitRatedTracks();">Submit <i class="fa fa-send-o"></i></button></h5>
<div class="alert alert-danger" role="alert" ng-show="submitError">Please rate at least {{ minNumberRatedTracks }} items.</div>
<table class="table table-bordered table-striped">
    <th>Artist Name</th>
    <th>Song Name</th>
    <th>Listen</th>
    <th>Album Cover</th>
    <th>Rate</th>
    <tr ng-repeat="track in recommendations">
        <td>{{ track.artist.name }}</td>
        <td>{{ track.name }}</td>
        <td><a ng-href="{{ track.url }}">URL</a>
        <td><img ng-src="{{ track.image[2]['#text'] || 'images/default_image.png'}}" /></td>
        <td>Please, give this song a score between 1 and 5<br/><input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 star-rating-init=""></td>
    </tr>
</table>
<div ng-include="'views/loading-spinner.html'" ng-show="isLoading"></div>
