<div class="recommender-container">
  <h2 class="text-center">Find new music. Get personalized recommendations.</h2>
  <br/>
  <p class="text-subheader">
    We need some info about your music tastes in order to make recommendations.<br/>We can get it only if you would:
  </p>
  <br/>
  <div class="data-source-options-container">
    <div id="rate-songs-container">
      <h4>
        <button class="btn btn-sm btn-default btn-rate" ng-click="rateItems();"><strong>Rate <i class="fa fa-star-o"></i></strong></button> a couple of songs to allow us get a better taste of what music you enjoy.
      </h4>
    </div>
    <div id="last-fm-login">
      <h4>
        <button class="btn btn-sm btn-default btn-last-fm" ng-click="showLastFmInput = !showLastFmInput;"><strong>Link <i class="fa fa-lastfm"></i></strong></button> your <strong>Last.fm</strong> profile in order to allow us gather what tracks you've listened.
      </h4>
      <div class="form-group lastfm-login-container" ng-show="showLastFmInput">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-lastfm"></i></div>
          <input type="text" class="form-control lastfm-username" id="username" placeholder="Enter your Last.fm username" ng-model="lastFmUsername">
          <button type="submit" class="btn btn-default lastfm-username" ng-click="fetchInfoFromLastFm(lastFmUsername);showLastFmInput = false;"><strong>Go</strong></button>
        </div>
      </div>
    </div>
    <div id="fb-login" ng-hide="isLoggedOnFacebook">
        <h4>
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" on-login="onFacebookLogin" scope="public_profile, user_likes"></div> with your <strong>Facebook</strong> account<br/>to let us know about your music likes
        </h4>
    </div>
    <div id="fb-fetch-data" ng-show="isLoggedOnFacebook">
        <h4><button class="btn btn-sm btn-default btn-facebook" ng-click="fetchInfoFromFacebook()"><strong>Fetch <i class="fa fa-facebook"></i></strong></button> info about your music likes from your <strong>Facebook</strong>.</strong></h4>
    </div>
  </div>
  <div ng-include="'views/loading-spinner.html'" ng-show="isLoading"></div>
</div>
