<div class="recommender-container">
  <h3 class="text-center">List your favourite artists along with their importance <br/> to you <em>(ranging 1-10)</em></h3>
  <p class="lead text-center" ng-repeat="artist in artists">
    <input type="text" ng-model="artist.name" placeholder="artist name"/>
    <input type="number" ng-model="artist.score" min="1" max="10"/>
    <button class="btn btn-primary btn-small" ng-click="artists.push({ score: 1 })" ng-class="{ invisible: !$last }">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </p>

  <p class="text-center">
    <a class="btn btn-lg btn-success" ng-click="getRecommendations();">Get Recommendations</a>
  </p>
</div>
