<h3 class="text-justify">Settings</h3>
<p class="text-justify info-footer">
You can controll the algorithm parameters that are used when making recommendations.
</p>
<div class="info-footer">
    <h3 class="text-justify">Number of neighbours</h3>
    Each time we make a recommendation we consider a number of users that are similar to you. Feel free to change this having in mind that lower count will result in a limited set of recommendations and considerably higher will result in broader, but less relevant ones. The default value is <strong>22</strong>.
</div>
<div class="input-group settings-input info-footer">
  <input type="text" class="form-control" placeholder="Enter number of neighbours" ng-model="neighboursCount">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="saveNeighboursCount();"><strong>Save</strong></button>
  </span>
</div>
<div class="info-footer">
    <h3 class="text-justify">Recommendation algorithm type</h3>
    The work of the system can be based on 2 different algorithmic approaches - <a href="http://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative filtering</a> and <a href="http://recommender-systems.org/content-based-filtering/">Content-based filtering</a>. The first one finds suitable music for you by comparing your taste to the one thousands of other users have and recommends you their favourite songs. The latter uses meta information about the music you like and the music we have information about in order to find tracks that match your taste.
</div>
<div class="info-footer text-center">
    <strong>Used algorithm type:</strong>
    <div class="btn-group inline-block algorithm-toggle" data-toggle="buttons">
      <label class="btn btn-primary" radio-click="true">
        <input type="radio" name="options" id="Collaborative filtering" ng-value="!isCollaborativeFilteringUsed" ng-checked="isCollaborativeFilteringUsed" /> Collaborative filtering
      </label>
      <label class="btn btn-primary" radio-click="false">
        <input type="radio" name="options" id="Content-based filtering" ng-value="!isCollaborativeFilteringUsed" ng-checked="!isCollaborativeFilteringUsed" /> Content-based filtering
      </label>
    </div>
</div>
<div class="info-footer" ng-show="isCollaborativeFilteringUsed">
    <h3 class="text-justify">Recommendation algorithm type</h3>
    The work of the system can be based on 2 different algorithmic approaches - <a href="http://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative filtering</a> and <a href="http://recommender-systems.org/content-based-filtering/">Content-based filtering</a>. The first one finds suitable music for you by comparing your taste to the one thousands of other users have and recommends you their favourite songs. The latter uses meta information about the music you like and the music we have information about in order to find tracks that match your taste.
</div>
<div class="info-footer text-center" ng-show="isCollaborativeFilteringUsed">
    <strong>Used algorithm type:</strong>
    <div class="btn-group inline-block algorithm-toggle" data-toggle="buttons">
      <label class="btn btn-primary" radio-click="true">
        <input type="radio" name="options" id="Collaborative filtering" ng-value="!isCollaborativeFilteringUsed" ng-checked="isCollaborativeFilteringUsed" /> Collaborative filtering
      </label>
      <label class="btn btn-primary" radio-click="false">
        <input type="radio" name="options" id="Content-based filtering" ng-value="!isCollaborativeFilteringUsed" ng-checked="!isCollaborativeFilteringUsed" /> Content-based filtering
      </label>
    </div>
</div>
